    <body>
        <div class="main-content">
            <!-- PAGE 1 -->
            <div class="all-products page">
                <div class="filters">
                    <form>
                        <div class="filter-criteria">
                            <span>Category</span>
                            <label><input type="checkbox" name="category" value="nature">Nature</label>
                            <label><input type="checkbox" name="category" value="people">People</label>
                        </div>
                        <button>Clear filters</button>
                    </form>
                </div>
                <ul class="products-list">
                    {>"general/product"/}
                </ul>
            </div>
            <!-- END OF PAGE 1 -->
            <!-- PAGE 2 -->
            <div class="single-product page">
                <div class="overlay"></div>
                <div class="preview-large">
                    <h3>Single product view</h3>
                    <img src=""/>
                    <span class="close">×</span>
                </div>
            </div>
            <!-- END OF PAGE 2 -->
            <!-- PAGE 3 -->
            <div class="error page">
                <h3>Sorry, something went wrong :(</h3>
            </div>
            <!-- END OF PAGE 3 -->
        </div>