<!DOCTYPE html>
    <html>
    <head lang="en">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="Pavan Ratnakar, Pavan Ratnkar Applications, Single Page App, Without Framework" />
        <meta name="description" content="Single Page App Without a Framework" />
        <meta name="author" content="Pavan Ratnakar" />
        <meta name="robots" content="index, follow" />
        <meta name="googlebot" content="index, follow" />
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <meta property="og:title" content="Single Page App Without a Framework - Pavan Ratnakar" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="Single Page App Without a Framework" />
        <meta property="og:site_name" content="Pavan Ratnakar Applications" />
        <meta property="og:url" content="http://www.pavanratnakar.com/hacks/appwithoutframework/index.html"/>
        <meta property="og:image" content="http://www.pavanratnakar.com/pavan.jpg" />
        <meta property="fb:admins" content="100000417819011" />
        <title>Single Page App Without a Framework - Pavan Ratankar</title>
        <link href="dist/style_less.min.css" rel="stylesheet">
    </head>