{#products}
    <li data-index="{id}">
        <a href="#" class="product-photo">
            <img src="http://farm7.staticflickr.com/{server}/{id}_{secret}_q.jpg" height="150" alt="{title}"/>
        </a>
        <h2><a href="#"> {title} </a></h2>
        <div class="highlight"></div>
    </li>
{/products}