@base: #f938ab;

.box-shadow(@style, @c) when (iscolor(@c)) {
  -webkit-box-shadow: @style @c;
  box-shadow:         @style @c;
}

.box-shadow(@style, @alpha: 50%) when (isnumber(@alpha)) {
  .box-shadow(@style, rgba(0, 0, 0, @alpha));
}

.background-gradient(@style1, @style2, @alpha1: 50%, @alpha2: 50%) {
    background-image: linear-gradient(bottom, @style1 @alpha1, @style2 @alpha2);
    background-image: -o-linear-gradient(bottom, @style1 @alpha1, @style2 @alpha2);
    background-image: -moz-linear-gradient(bottom, @style1 @alpha1, @style2 @alpha2);
    background-image: -webkit-linear-gradient(bottom, @style1 @alpha1, @style2 @alpha2);
    background-image: -ms-linear-gradient(bottom, @style1 @alpha1, @style2 @alpha2);
    background-image: -webkit-gradient(
        linear,
        right bottom,
        right top,
        color-stop(@alpha1/100, @style1),
        color-stop(@alpha2/100, @style2)
    );
}

*{
    margin:0;
    padding:0;
}

body{
    font: normal 16px Arial, Helvetica, sans-serif;
}

h1, h3{
    font: normal 24px 'Open Sans', Arial, Helvetica, sans-serif;
}

/*-----------------
    Main Content
------------------*/

.main-content{
    box-sizing: border-box;
    text-align: center;
    margin: 45px auto 60px;
    padding: 0 40px;
}

.main-content h3{
    font-size: 28px;
    color:  #5a96b9;
    padding-bottom: 20px;
}

@media (max-width: 600px){

    .main-content{
        margin: 45px auto;
        padding: 0 25px;
    }

}

/*-------------------
    All Products Page
--------------------*/

/*  Filter Form */

.filters{
    box-sizing: border-box;
    padding: 5px 30px 30px;
    width: 190px;
    background-color: #FFF;
    border: 1px solid #DBE3E7;
    border-radius: 3px;
    position: fixed;
    text-align: left;
    color: #2B2E31;
    opacity: 0;
    pointer-events: none;
    .box-shadow(1px 3px 1px, 0.08);
}

.filters .filter-criteria{
    display: block;
    margin: 10px 0 10px;
}

.filters span{
    font-size:14px;
    display: block;
    margin: 12px 0;
    font-weight: bold;
}

.filters label{
    display: block;
    line-height: 1.4;
    font-size: 15px;
}

.filters label input{
    margin-right: 10px;
}

.filters button{
    border-radius: 2px;
    background-color:  #4BC34B;
    border: 0;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
    padding: 10px;
    margin-top: 10px;
    .box-shadow(0 1px 1px, 0.12);
}


/*  Products List   */

.all-products h3{
    opacity: 0;
}

.products-list{
    list-style: none;
    margin-left: 225px;
    max-width: 1500px;
    text-align: center;
    padding: 0;
    opacity: 0;
    font-size: 0;
}

.all-products.visible .products-list,
.all-products.visible .filters,
.all-products.visible h3{
    opacity: 1;
    transition: 1s;
    pointer-events: auto;
}

.products-list > li{
    box-sizing: border-box;
    display: inline-block;
    cursor: pointer;
    position: relative;
    transition: 0.2s;

    text-align:left;
    font:normal 12px sans-serif;

    background-color:#ffffff;
    border:1px solid #dbe3e7;
    border-radius: 3px;

    margin: 0 12px 12px 0;
    .box-shadow(1px 3px 1px, 0.08);
}

.products-list > li.hidden{
    opacity: 0.2;
    pointer-events: none;
}

/* The product image */

.products-list .product-photo{
    display: block;
    text-align: center;
    width: 150px;
    box-sizing: border-box;
    .background-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0), 0%, 33%);
}

/* The product name */

.products-list h2{
    display: block;
    font-size: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 130px;
    padding: 10px;
    text-align: center;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
}

.products-list h2 a{
    text-decoration: none;
    color: #FFF;
}

.products-list .highlight{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.1);
    opacity: 0;
    transition: 0.4s;
}

.products-list > li:hover .highlight{
    opacity: 1;
}

/*---------------------------
    Single Product Page
----------------------------*/

.single-product{
    z-index: 100;
}

.overlay{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #282b2c;
    transition: 0.6s;
    z-index: 100;
}

.single-product.visible .overlay{
    height: 100%;
}

.preview-large{
    box-sizing: border-box;
    width: 760px;
    height: 500px;
    position: fixed;
    left: 50%;
    margin-left: -375px;
    top: 50%;
    margin-top: -275px;
    pointer-events: none;
    background-color:  #ffffff;

    z-index: 102;
    opacity: 0;
    transition: 0.4s;

}

.single-product.visible .preview-large{
    opacity: 1;
    transition: 1.4s;
    pointer-events: auto;
}

.preview-large h3{
    color: #FFF;
    position: absolute;
    top: 0;
    font-size: 14px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.4);
}

.preview-large img{
    width: 100%;
    height: 500px;
}

.close{
    background-color: rgba(255,255,255,0.1);
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    font-size: 28px;
    color: #FFF;
    cursor: pointer;
}


/*---------------------------
    Error Page
----------------------------*/

.error{
    opacity: 0;
    transition: 0.6s;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
}

.error.visible{
    opacity: 1;
}

.error h3{
    font-size: 40px;
}